/* 1. General Styles */

.hidden {
    display: none;
}

a {
    text-decoration: none;
    color: #231f20;
    font-family: 'Volkhov';
    font-weight: 700;
}

p {
    font-size: 30px;
    font-family: 'Itim', Arial, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    color: #231f20;
}

a:visited {
    color: #231f20;
}

section, header {
    margin-top: 0;
    margin-bottom: 20px;
}

.boxcolour {
    background-color: #EC82EE;
}

.bubblecolour {
    background-color: #e4e4e4;
}

.bubblecolour2 {
    background-color: #231F20;
}

.disappear {
    display: block;
}

.appear {
    display: none;
}

#logo-top:hover .cls-1-logo, #logo-bottom:hover .cls-1-logo {
    fill: #e4e4e4;
}

body {
    background-image: url(../images/starry_background.jpg);
    background-size: 300px;
}

/* 2. Container */

#container {
    margin: 0 auto;
    background-image: url(../images/starry_background.jpg);
    background-size: 300px;
    display: grid
}

/* 3. Header */

#main_header {
    margin: 0;
    background-color: #AE09B0;
}

#header_logo {
    height: 110px;
    align-self: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#header_logo svg {
    height: 110px;
}

#hamburger {
    height: 110px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hamburger:first-of-type {
    margin-top: 27px;
}

#burger_button {
    height: 75px;
    width: 150px;
    margin-top: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

#burger_con {
    display: none;
}

#burger_con.display {
    display: block;
}

#burger_con li {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: #231f20 2px solid;
    text-align: center;
    padding-bottom: 10px;
    list-style-type: none;
}

#burger_con li a {
    font-family: 'Itim', sans-serif;
}

#burger_con li:first-of-type {
    padding-top: 10px;
}

#burger_con li:last-of-type {
    border-bottom: none;
}

#burger_con li:hover a {
    color: white;
}

#main_nav_1, #main_nav_2 {
    display: none;
}


/* 4. Visual Appeal */

#visual_appeal {
    margin-top: 20px;
}

#visual_appeal p {
    font-size: 24px;
    font-family: 'Volkhov';
    color: #F90EFC;
    text-shadow: 2px 2px #8A28C8;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#info_text {
    margin-bottom: 20px;
}

#info_text p {
    font-size: 20px;
    font-family: 'itim';
    color: #F90EFC;
    text-shadow: none;
    text-align: center;
}

#interactive_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#leaves {
    max-height: 72px;
    cursor: pointer;
}

#prohibited {
    max-height: 59px;
    cursor: pointer;
}

#recycle {
    max-height: 61px;
    cursor: pointer;
}

/* 5. Flavours */

#flavours {
    height: 542px;
}

#flavours_slider {
    height: 260px;
    align-self: center;
    margin-bottom: 32px;
    margin-top: 32px;
    display: flex;
    position: relative;
    justify-content: center;
}

#select_a_flavour {
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}

#select_a_flavour p {
    font-size: 20px;
}

.index_button {
    height: 30px;
    width: 90px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    justify-self: center;
    border: 1px solid #231F20;
    margin-right: 20px;
}

#flavour_index_current {
    max-height: 100%;
}

#flavours_text {
    height: 185px;
    align-self: center;
    display: flex;
    align-items: center;
    text-align: left;
    border-radius: 10px;
}

#flavours_text p {
    margin-top: 10px;
    font-size: 16px;
    padding-left: 34px;
    padding-right: 34px;
    margin-bottom: 20px;
}

#flavours_text p:first-of-type {
    text-align: center;
}

#flavours_text p:first-of-type {
    text-shadow: #FFB62A 2px 2px;
}

/* 6. Collab */

#collab {
    height: 525px;
}

#new_flavour {
    height: 300px;
    display: flex;
    justify-content: center;
}

#impostor_flavour {
    max-height: 100%;
}

#mascot {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    position: relative;
    justify-content: right;
}

#orbula_collab_s {
    max-height: 100%;
    max-width: 100%;
    display: block;
}

#orbula_collab_m {
    max-width: 100%;
    display: none;
}

#orbula_collab_l {
    max-width: 100%;
    display: none;
}

#orbula_collab {
    position: absolute;
}

#red_crewmate {
    transform: scaleX(-1);
    position: absolute;
    max-width: 42%;
}

#collab_info {
    height: 180px;
    margin-top: 20px;
    border-radius: 10px;
}

#collab_info p {
    font-size: 16px;
}

#collab_info p:first-of-type {
    text-align: center;
    text-shadow: #FF0705 2px 2px;
    margin-top: 5px;
}

#innersloth:hover {
    color: white;
}

/* 7. Information */

#information {
    height: 542px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    position: relative;
    border-radius: 30px;
}

#information p {
    margin-top: 5px;
    font-family: 'Volkhov';
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 20px;
}

#interview_title {
    text-decoration: underline;
}

.arrows_info {
    display: flex;
    flex-direction: row;
    z-index: 3;
    cursor: pointer;
}

.arrows_info2 {
    display: flex;
    flex-direction: row;
    z-index: 3;
    cursor: pointer;
}

.left_info {
    left: 0;
    position: absolute;
    top: 250px;
    border: 1px solid #231F20;
    border-radius: 100px;
    background-color: #EC82EE;
}

.right_info {
    position: absolute;
    right: 0;
    top: 250px;
    border: 1px solid #231F20;
    border-radius: 100px;
    background-color: #EC82EE;
}

iframe {
    margin-bottom: 30px;
}

#slider_indicator, #slider_indicator2 {
    margin-bottom: 5px;
}

.circle {
    height: 26px;
    width: 26px;
    margin-left: 5px;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
}

#yt_video {
    align-self: center;
}

#information2 {
    height: 542px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    position: relative;
    border-radius: 30px;
    align-items: center;
}

#information2 p {
    margin-top: 5px;
    font-family: 'Volkhov';
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 20px;
}

#interview_title {
    text-decoration: underline;
}

#charity_title {
    text-decoration: underline;
}

#WWF {
    max-height: 157px;
    max-width: 157px;
    margin-bottom: 20px;
}

#trevorproject {
    max-height: 80px;
    max-width: 255px;
    margin-bottom: 20px;
}

#stjude {
    max-height: 120px;
    max-width: 392px;
}

.arrows_info {
    display: flex;
    flex-direction: row;
    z-index: 3;
    cursor: pointer;
}

.left_info {
    left: 0;
    position: absolute;
    top: 250px;
    border: 1px solid #231F20;
    border-radius: 100px;
    background-color: #EC82EE;
}

.right_info {
    position: absolute;
    right: 0;
    top: 250px;
    border: 1px solid #231F20;
    border-radius: 100px;
    background-color: #EC82EE;
}

#slider_indicator, #slider_indicator2 {
    margin-bottom: 5px;
}

.circle {
    height: 26px;
    width: 26px;
    margin-left: 5px;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
}

#yt_video {
    align-self: center;
}

#information.infoinactive {
    display: none;
}

#information2.infoinactive {
    display: none;
}

/* 8. Footer */

#main_footer {
    background-color: #AE09B0;
}

#logo_footer  {
    margin-top: 20px;
    height: 110px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

#logo_footer svg {
    height: 110px;
}

#social_media_icons {
    height: 90px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.smicons {
    height: 50px;
    width: 50px;
    display: inline-block;
}

#facebook_icon .cls-2-fb, #twitter_icon .cls-2-twt, #instagram_logo .cls-1-ins, #youtube_icon .cls-2-yt, #reddit_icon .cls-2-reddit, #tumblr_icon .cls-2-tbr {
    fill: #231f20;
}

#facebook_icon:hover .cls-1-fb, #twitter_icon:hover .cls-1-twt, #instagram_logo:hover .cls-2-ins, #youtube_icon:hover .cls-1-yt, #reddit_icon:hover .cls-1-reddit, #tumblr_icon:hover .cls-1-tbr{
    fill: #231f20;
}

#facebook_icon:hover .cls-2-fb, #twitter_icon:hover .cls-2-twt, #instagram_logo:hover .cls-1-ins, #youtube_icon:hover .cls-2-yt, #reddit_icon:hover .cls-2-reddit, #tumblr_icon:hover .cls-2-tbr{
    fill: #fff;
}


#footer_nav {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

#mobile-bottom-nav-1 li, #mobile-bottom-nav-2 li {
    font-size: 16px;
    border-bottom: #231f20 1px solid;
    padding-top: 20px;
    padding-bottom: 20px;
    list-style-type: none;
}

#mobile-bottom-nav-1 {
    padding-right: 40px;
    border-right: 1px solid #231F20;
}

#mobile-bottom-nav-1 li:last-of-type, #mobile-bottom-nav-2 li:last-of-type {
    border-bottom: none;
}

#mobile-bottom-nav-1 li a:hover, #mobile-bottom-nav-2 li a:hover {
    color: white;
}

#newsletter {
    height: 269px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#newsletter p {
    font-size: 20px;
    margin-bottom: 20px;
}

#email_news {
    height: 40px;
    max-width: 335px;
    margin-bottom: 20px;
    border-radius: 7px;
    margin-left: 20px;
}

#submit_news {
    height: 35px;
    width: 70px;
    border-radius: 7px;
    margin-left: 20px;
}

#bottom_info {
    text-align: center;
    background-color: #AE09B0;
}

#bottom_info a {
    font-family: "Itim", sans-serif;
    font-size: 14px;
}

#bottom_info p {
    font-family: "Titan One", sans-serif;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 10px;
}


/* 9. Products */

#flavours_display {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

#flavours_display p, #products_display p, #coming_soon p {
    font-size: 24px;
    font-family: "Volkhov", sans-serif;
    margin-top: 10px;
    font-weight: 700;
    margin-bottom: 20px;
}

#venus_button, #venus_button_index {
    background-color: #FFB62A;
}

#mercury_button, #mercury_button_index {
    background-color: #FF317A;
}

#gaia_button, #gaia_button_index {
    background-color: #31AC28;
}

#mars_button, #mars_button_index {
    background-color: #D22222;
}

#jupiter_button, #jupiter_button_index {
    background-color: #AC27B8;
}

#saturn_button, #saturn_button_index {
    background-color: #8A28C8;
}

#uranus_button, #uranus_button_index {
    background-color: #E0DE2B;
}

#neptune_button, #neptune_button_index {
    background-color: #414AFF;
}

.planet_button {
    height: 30px;
    width: 90px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    justify-self: center;
    border: 1px solid #231F20;
    margin-bottom: 20px;
}

#flavours_display .planet_button p {
    font-size: 18px;
    font-family: 'Itim';
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

#current_bottle {
    max-height: 100%;
    margin-bottom: 20px;
}

#flavour_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#flavour_description p {
    font-size: 20px;
    text-align: left;
    font-family: 'Itim';
    font-weight: normal;
    padding-left: 10px;
    padding-right: 10px;
}

#flavour_description p:first-of-type {
    text-align: center;
    text-shadow: 2px 2px #FFB62A;
}

#products_display {
    margin-bottom: 20px;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

.product_button {
    height: 30px;
    width: 90px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #231F20;
    background-color: #F90EFC;
    justify-self: center;
    margin-bottom: 20px;
}

#products_display .product_button p {
    font-size: 18px;
    font-family: 'Itim';
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

#current_product {
    max-height: 100%;
}

#product_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#product_description p {
    font-size: 20px;
    text-align: left;
    font-family: 'Itim';
    font-weight: normal;
    padding-left: 10px;
    padding-right: 10px;
}

#coming_soon {
    margin-bottom: 20px;
    text-align: center;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
}

#orbula_cs {
    max-height: 600px;
}

/* 10. Contact Form */

#contact_form {
    height: 642px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#form_header {
    height: 250px;
    background-image: url(../images/orbula_chibi.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: right 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact_form p {
    color: #F90EFC;
    margin-bottom: 20px;
    text-shadow: #8A28C8 2px 2px;
    text-align: center;
}

#inquiry {
    margin-bottom: 20px;
}

#preferred_name, #email, #subject {
    height: 30px;
    width: 250px;
    border-radius: 7px;
}

#comments {
    height: 150px;
    width: 250px;
    border-radius: 7px;
}

#send {
    height: 35px;
    width: 70px;
    background-color: #F90EFC;
    color: #231F20;
    border: 1px #231F20 solid;
    border-radius: 7px;
}

#send:hover {
    color: #F90EFC;
    background-color: white;
    border: 1px #F90EFC solid;
}

/* 11. 404 */

#error404 {
    margin-top: 24px;
    margin-bottom: 24px;
    height: 642px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#error404 p {
    color: #F90EFC;
    margin-bottom: 20px;
    text-shadow: #8A28C8 2px 2px;
}

#error404 p:last-of-type {
    margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
    #main_header {
        height: 150px;
    }

    #burger_con.display {
        display: none;
    }

    #hamburger {
        display: none;
    }

    #burger_con {
        display: none;
    }

    #main_nav_1 {
        height: 110px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: left;
    }
    
    #main_nav_1 ul li {
        font-size: 15px;
        border-right: 2px solid #231F20;
        padding-right: 8px;
        padding-left: 8px;
        display: inline-flex;
    }

    #main_nav_1 ul li:first-of-type {
        padding-left: 0;
    }
    
    #main_nav_1 ul li:last-of-type {
        padding-right: 0;
    }

    #main_nav_2 ul li {
        font-size: 16px;
        border-right: 2px solid #231F20;
        display: inline-flex;
    }

    #main_nav_2 ul li:first-of-type {
        padding-right: 15px;
    }
    
    #main_nav_2 ul li:last-of-type {
        padding-left: 15px;
    }

    #main_nav_1 ul li a {
        display: flex;
    }
    
    #main_nav_1 ul li:last-of-type, #main_nav_2 ul li:last-of-type {
        border-right: none;
    }
    
    #main_nav_2 {
        height: 110px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    #main_nav_1 ul li a:hover, #main_nav_2 ul li a:hover {
        border-bottom: 3px solid #231f20;
        color: white;
    }

    #larger-top-nav-1, #larger-top-nav-2 {
        padding-left: 0px;
    }

    #visual_appeal p {
        font-size: 45px;
    }

    #info_text p {
        font-size: 30px;
    }

    #leaves {
        max-height: 152px;
    }
    
    #prohibited {
        max-height: 125px;
    }
    
    #recycle {
        max-height: 129px;
    }

    #flavours, #flavours_slider, #collab, #new_flavour, #mascot, #collab_info, #information {
        height: 512px;
    }

    #flavours_slider {
        margin: 0;
    }

    #select_a_flavour {
        order: -1;
    }

    #flavours_text {
        height: 350px;
        box-shadow: 10px 10px #FFB62A;
        order: 1;
    }

    #flavours_text p {
        font-size: 25px;
    }

    #collab_info {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #collab_info p {
        font-size: 24px;
    }

    #mascot {
        order: 1;
    }

    #orbula_collab_s {
        max-width: 100%;
        display: none;
    }
    
    #orbula_collab_m {
        max-width: 100%;
        display: block;
    }

    #red_crewmate {
        max-width: 50%;
    }

    #main_footer {
        height: 432px;
    }

    #logo_footer {
        margin-top: 40px;
    }

    #logo_footer, #footer_nav {
        order: -1;
    }

     #newsletter, #bottom_info {
        order: 1;
    }

    #social_media_icons, #footer_nav, #newsletter {
        height: 237px;
    }

    #social_media_icons {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .smicons {
        flex-wrap: wrap;
        margin-left: 12px;
        margin-right: 12px;
    }

    #preferred_name, #email, #subject {
        width: 400px;
    }

    #comments {
        height: 150px;
        width: 400px;
    }

    #newsletter p {
        font-size: 30px;
    }

    #bottom_info a {
        font-size: 17px;
    }
    
    #bottom_info p {
        font-family: "Titan One", sans-serif;
        font-size: 21px;
    }

    #bottle_image {
        border-right: 3px solid #231F20;
    }

    #flavour_description p {
        font-size: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #product_description p {
        font-size: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

}

@media screen and (min-width: 1200px) {

    #visual_appeal p {
        font-size: 60px;
    }

    #info_text p {
        font-size: 30px;
    }
    
    #flavours, #flavours_slider, #collab, #new_flavour, #mascot, #collab_info, #information {
        height: 600px;
    }

    #flavours_text {
        height: 410px;
    }

    #flavours_text p {
        font-size: 30px;
    }

    #collab_info p {
        font-size: 30px;
    }

    #orbula_collab_m {
        max-width: 100%;
        display: none;
    }
    
    #orbula_collab_l {
        max-width: 100%;
        display: block;
    }

    #interview_title {
        padding-bottom: 42.5px;
    }

    #slider_indicator {
        padding-top: 42.5px;
    }

    #main_footer {
        height: 530px;
    }

    #social_media_icons, #footer_nav, #newsletter {
        height: 277px;
    }

    #logo_footer {
        margin-bottom: 40px;
    }

    #bottom_info a {
        font-size: 20px;
    }

    #bottom_info p {
        font-family: "Titan One", sans-serif;
        font-size: 24px;
    }
}