/* 1. General Styles */

.hidden {
    display: none;
}

a {
    text-decoration: none;
    color: #231f20;
    font-family: 'Volkhov';
    font-weight: 700;
}

p {
    font-size: 30px;
    font-family: 'Itim', Arial, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    color: #231f20;
}

a:visited {
    color: #231f20;
}

section, header {
    margin-top: 0;
    margin-bottom: 20px;
}

.boxcolour {
    background-color: darkblue;
}

.boxcolour3 {
    background-color: orange;
}

.disappear {
    display: block;
}

.appear {
    display: none;
}

#logo-top:hover .cls-1-logo, #logo-bottom:hover .cls-1-logo {
    fill: #e4e4e4;
}

body {
    background-image: url(../images/starry_background.jpg);
}

/* 2. Container */

#container {
    margin: 0 auto;
    background-color: black;
    display: grid
}

/* 3. Header */

#main_header {
    height: 170px;
    margin: 0;
    background-color: #F90EFC;
}

#header_logo {
    height: 110px;
    align-self: center;
    display: flex;
    justify-content: center;
}
#header_logo svg {
    height: 110px;
}

#hamburger {
    height: 110px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hamburger:first-of-type {
    margin-top: 27px;
}

#hamburger input, #burger-con {
    display: none;
}

#hamburger img {
    height: 46px;
}

#hamburger input:checked ~ label span {
    transform: rotate(90deg);
}

#hamburger input:checked ~ #burger-con {
    display: block;
}

#hamburger li {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: #231f20 2px solid;
    text-align: center;
    padding-bottom: 10px;
}

#hamburger li:first-of-type {
    padding-top: 10px;
}

#hamburger li:last-of-type {
    border-bottom: none;
}

#hamburger ul {
    background-color: #8A28C8;
}

#hamburger li:hover a {
    color: white;
}

#main_nav_1, #main_nav_2 {
    display: none;
}


/* 4. Visual Appeal */

#visual_appeal {
    height: 527px;
}

/* 5. Flavours */

#flavours {
    height: 542px;
}

#flavours_slider {
    height: 260px;
    align-self: center;
    margin-bottom: 32px;
    margin-top: 32px;
}

#flavours_text {
    height: 185px;
    align-self: center;
}

/* 6. Collab */

#collab {
    height: 525px;
}

#new_flavour {
    height: 300px;
}

#mascot {
    height: 300px;
}

#collab_info {
    height: 180px;
    margin-top: 20px;
}

/* 7. Information */

#information {
    height: 542px;
}

/* 8. Footer */

#main_footer {
    height: 769px;
}

#logo_footer  {
    margin-top: 20px;
    height: 110px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

#logo_footer svg {
    height: 110px;
}

#social_media_icons {
    height: 90px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.smicons {
    height: 50px;
    width: 50px;
    display: inline-block;
}

#facebook_icon .cls-2-fb, #twitter_icon .cls-2-twt, #instagram_logo .cls-1-ins, #youtube_icon .cls-2-yt, #reddit_icon .cls-2-reddit, #tumblr_icon .cls-2-tbr {
    fill: #231f20;
}

#facebook_icon:hover .cls-1-fb, #twitter_icon:hover .cls-1-twt, #instagram_logo:hover .cls-2-ins, #youtube_icon:hover .cls-1-yt, #reddit_icon:hover .cls-1-reddit, #tumblr_icon:hover .cls-1-tbr{
    fill: #231f20;
}

#facebook_icon:hover .cls-2-fb, #twitter_icon:hover .cls-2-twt, #instagram_logo:hover .cls-1-ins, #youtube_icon:hover .cls-2-yt, #reddit_icon:hover .cls-2-reddit, #tumblr_icon:hover .cls-2-tbr{
    fill: #fff;
}


#footer_nav {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

#mobile-bottom-nav-1 li, #mobile-bottom-nav-2 li {
    font-size: 16px;
    border-bottom: #231f20 1px solid;
    padding-top: 20px;
    padding-bottom: 20px;
    list-style-type: none;
}


#mobile-bottom-nav-1 {
    padding-right: 40px;
    border-right: 1px solid black;
}

#mobile-bottom-nav-1 li:last-of-type, #mobile-bottom-nav-2 li:last-of-type {
    border-bottom: none;
}

#mobile-bottom-nav-1 li a:hover, #mobile-bottom-nav-2 li a:hover {
    color: white;
}

#newsletter {
    height: 269px;
    margin-bottom: 20px;
}

#newsletter p {
    padding-top: 20px;
    font-size: 20px;
}

/* 9. Products */

#flavours_display {
    height: 604px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#products_display {
    height: 555px;
    margin-bottom: 20px;
}

#coming_soon {
    height: 600px;
    margin-bottom: 20px;
}

/* 10. Contact Form */

#contact_form {
    height: 642px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contact_form p {
    color: #F90EFC;
    margin-bottom: 20px;
    text-shadow: #8A28C8 2px 2px;
    text-align: center;
}

#inquiry {
    margin-bottom: 20px;
}

#preferred_name, #email, #subject {
    height: 30px;
    width: 250px;
}

#comments {
    height: 150px;
    width: 250px;
}

#send {
    height: 35px;
    width: 70px;
    background-color: #231f20;
    color: white;
    border: 1px white solid;
}

/* 11. 404 */

#error404 {
    margin-top: 24px;
    margin-bottom: 24px;
    height: 642px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .disappear {
        display: none;
    }

    .appear {
        display: block;
    }

    #main_header {
        height: 150px;
    }

    #hamburger {
        display: none;
    }

    #main_nav_1 {
        height: 110px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #main_nav_1 ul li, #main_nav_2 ul li {
        font-size: 16px;
        border-right: 2px solid #707070;
        padding-right: 5px;
        padding-left: 5px;
        display: inline-flex;
    }

    #main_nav_1 ul li a {
        display: flex;
    }
    
    #main_nav_1 ul li:last-of-type, #main_nav_2 ul li:last-of-type {
        border-right: none;
    }
    
    #main_nav_2 {
        height: 110px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    #main_nav_1 ul li a:hover, #main_nav_2 ul li a:hover {
        border-bottom: 3px solid #231f20;
        color: white;
    }

    #larger-top-nav-1, #larger-top-nav-2 {
        padding-left: 0px;
    }

    #visual_appeal {
        height: 562px;
    }

    #flavours, #flavours_slider, #collab, #new_flavour, #mascot, #collab_info, #information {
        height: 512px;
    }

    #flavours_slider {
        margin: 0;
    }

    #flavours_text {
        height: 350px;
    }

    #collab_info {
        margin-top: 0;
    }

    #mascot {
        order: 1;
    }

    #main_footer {
        height: 432px;
    }

    #logo_footer {
        margin-top: 40px;
    }

    #logo_footer, #footer_nav {
        order: -1;
    }

     #newsletter {
        order: 1;
    }

    #social_media_icons, #footer_nav, #newsletter {
        height: 237px;
    }

    #preferred_name, #email, #subject {
        width: 400px;
    }

    #comments {
        height: 150px;
        width: 400px;
    }

    #newsletter p {
        font-size: 30px;
    }

}

@media screen and (min-width: 1200px) {

    #visual_appeal {
        height: 840px;
    }
    
    #flavours, #flavours_slider, #collab, #new_flavour, #mascot, #collab_info, #information {
        height: 600px;
    }

    #flavours_text {
        height: 410px;
    }

    #main_footer {
        height: 530px;
    }

    #social_media_icons, #footer_nav, #newsletter {
        height: 277px;
    }

    #logo_footer {
        margin-bottom: 40px;
    }
}